
:root {
  --background-color: rgb(65, 65, 65);
  /* --background-color: rgb(66, 68, 75); */
  --dark-border-color: rgb(87, 87, 87);
  --active-line-color: rgb(74, 74, 74);
  --mint-color: rgb(26, 250, 127);
  /* --mint-color: rgb(70, 255, 169); */
  --mint-color-hover: rgb(156, 255, 200);
  --mint-color2: #98FF98;
  --variable-color: var(--mint-color);
  --operator-color: rgb(40, 220, 229);
  --keyword-color: rgb(40, 220, 229);
  --hole-color: rgb(226, 97, 192);
  /* --mark-color: rgba(153, 250, 26, 0.3); */
  --mark-color: rgba(250, 26, 168, 0.2);
  --goal-text-color: var(--hole-color);
  --error-text-color: rgb(255, 105, 105);
  --invalid-parse-color: rgba(255, 255, 255, 0.5);
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'FiraCode';
  src: url('/fonts/FiraCode/static/FiraCode-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--mint-color);
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 20pt;
  display: block;
}

.home {
  padding: 15rem 0rem 0rem 0rem;
  text-align: center;
}

.page-with-topbar {
  width: 100%;
}

.topbar {
  width: 100vw;
  height: 100px;
  padding: 0rem 0rem 0rem 1.5rem;
  z-index: 1000;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-width: 0px 0px 3px 0px;
  border-style: solid;
  border-color: var(--mint-color);
}

.course-description {
  padding: 1rem 2rem 0rem 2rem;
  font-size: 15pt;
}

.course-contents {
  padding: 1rem 4rem 0rem 4rem;
  font-size: 20pt;
}

.course-entry {
  font-size: 20pt;
}

.current-entry {
  color: var(--mint-color-hover );
}

a {
  color: var(--mint-color);
  text-decoration: none;
}

a:hover {
  color: var(--mint-color-hover);
}

.item-title {
  font-size: 20pt;
  display: inline;
}

.item {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.item-contents-sidebar {
  max-width: 20%; 
  padding: 1rem 2rem 0rem 2rem;
  border-width: 0px 3px 0px 0px;
  border-style: solid;
  border-color: var(--mint-color);
}
.item-contents-sidebar-contents {
  padding: 1rem;
}

.item-contents-sidebar-contents li {
  font-size: 15pt;
}

.item-middle {
  /* max-width: 40%; */
  flex: 1;
}

.item-text {
  padding: 1rem 1rem 1rem 1.5rem;
  font-size: 15pt;
}

.item-form {
  padding: 1rem 1rem 1rem 1.5rem;
  font-size: 15pt;
}

.cm-editor {
  border: 2px solid var(--dark-border-color);
  /* border-radius: 10px; */
}

.CodeMirror-lines {
    padding-top: 0px !important;
}

.cm-editor.cm-focused {
  outline: none;
}

.semantic-error {
  background-color: var(--mark-color) !important;
}

.hole {
  color: var(--hole-color) !important;
}

.item-info-sidebar {
  width: 20%;
  border-width: 0px 0px 0px 3px;
  border-style: solid;
  border-color: var(--mint-color);
  position: relative;
}

.item-inspector-sidebar {
  padding: 1rem 1rem 1rem 1rem;
  /* border-width: 0px 0px 3px 0px;
  border-style: solid;
  border-color: var(--mint-color); */
}

.victory-sidebar {
  padding: 1rem 1rem 1rem 1rem;
}

.item-agenda-sidebar {
  padding: 1rem 1rem 0rem 1rem;
}

.goal-message {
  font-size: 15pt;
  color: var(--goal-text-color);
}

.error-message {
  font-size: 15pt;
  color: var(--error-text-color);
}

.open-atlas-tab {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  border-width: 0px 0px 3px 3px;
  border-radius: 0px 0px 0px 5px;
  border-style: solid;
  border-color: var(--mint-color);
  text-align: center;
  cursor: pointer;
}

.atlas-sidebar {
  width: 20%;
  border-width: 0px 0px 0px 3px;
  border-style: solid;
  border-color: var(--mint-color);
  padding: 1rem;
  font-size: 12pt;
}


.atlas-title {
  font-size: 16pt;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--mint-color);
}

.atlas-section {
  margin-bottom: 1rem;
}

.atlas-section-title {
  font-size: 14pt;
  font-weight: bold;
  color: var(--mint-color2);
  margin-bottom: 0.5rem;
}

.atlas-entry {
  margin-bottom: 0.3rem;
  font-size: 11pt;
  line-height: 1.3;
}

.atlas-entry strong {
  color: var(--operator-color);
}